@charset 'UTF-8';

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes login-visible {
	from {
		transform: perspective(300px) rotateX(-6deg);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: perspective(0) rotateX(0);
	}
}

@keyframes pade-to-right {
	from {
		transform: translateX(-5rem);
		opacity: 0;
	} to {
		transform: none;
		opacity: 1;
	}
}

@keyframes pade-to-left {
	from {
		transform: translateX(5rem);
		opacity: 0;
	} to {
		transform: none;
		opacity: 1;
	}
}


@keyframes padeUp {
	from {
		opacity: 0;
		transform: translateY(5px);
	} to {
		opacity: 1;
	}
}

@keyframes padeUp2 {
	from {
		opacity: 0;
		transform: translate(-50%, -30%);
	} to {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes padeUpLater {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	50% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
	}
}

@keyframes padeDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes unfold {
	from {
		width: 0;
	}
	to {
		width: 100px;
	}
}

@keyframes bright {
	from {
		color: #EFF;
	}
	to {
		color: #339;
	}
}

@keyframes moveStack {
	from {
		right: 50px;
	}
	to {
		right: 0;
	}
}

@keyframes hideDown {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translateY(30%);
	}
}


@keyframes hideDown2 {
	from {
		opacity: 1;
		transform: translateY(-50%, -50%);
		visibility: visible;
	}
	to {
		visibility: hidden;
		opacity: 0;
		transform: translate(-50%, -30%);
	}
}

@keyframes appearAfterHideDown {
	0% {
		opacity: 0;
		transform: translateY(30%);
		display: none
	}
	50% {
		display: block;
		opacity: 0;
		transform: translateY(30%);
	}
	100% {
		display: block;
		opacity: 1;
		transform: none;
	}
}


@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}
