@charset 'UTF-8';

.dp-flex {
	display: flex;
}

.ai-center {
	align-items: center;
}

.jc-center {
	justify-content: center;
}

.ai-jc-center {
	align-items: center;
	justify-content: center;
}

.overflowAuto {
	overflow: auto;
}
