@charset 'UTF-8';

.stack-block {
	padding: 3px 6px;
	margin-right: 7px;
	border-radius: 5px;
	color: white;
	height: fit-content;
	font-size: 10px;
	margin-bottom: 10px;
	max-width: 12ch;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	word-break: break-word;
	-webkit-line-clamp: 1;
}

.blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.react-calendar {
	border: none;
}

.boxShadow {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

.user-name {
	color: rgb(5, 5, 5);
	margin: 1rem auto;
	transition: .5s;
	position: relative;
	text-align: center;

	b {
		font-weight: 800;
		font-size: 2rem;
	}

	&.linked .sub-information {
		display: none;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(105%, -50%);
		font-size: 10px;
		color: white;
		background: rgba(121, 144, 255, 0.6);
		box-shadow: 0px 1px 4px 0px rgba(121, 144, 255, 0.05);
		width: 4.5rem;
		padding: .5rem;
		text-align: center;
		border-radius: 5px;
	}

	&:hover {
		color: #5970ff;
		text-shadow: 0px 3px 6px rgba(121, 144, 255, 0.2);

		.sub-information {
			display: block;
			animation: .5s appear 1 ease-in-out;
		}
	}
}

.back-btn {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	cursor: pointer;
	background: rgba(0, 0, 20, 0.5);
	z-index: 100;

	&.hide {
		visibility: hidden;
		opacity: 0;
		animation: .3s disappear 1 ease-in-out;
	}

	&.visible {
		visibility: visible;
		opacity: 1;
		animation: .3s appear 1 ease-in-out;
	}
}

.tui-editor-defaultUI .CodeMirror-scroll {
	padding: 1rem;
}


.lds-ellipsis {
	position: relative;
	margin: 0 auto;
	width: 80px;
	height: 80px;

	div {
		position: absolute;
		top: 33px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: #7990ff;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);

		&:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}
		&:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		&:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}
		&:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
}
