@charset 'UTF-8';

.stack-block {
	padding: 3px 6px;
	margin-right: 7px;
	border-radius: 5px;
	color: white;
	height: fit-content;
	font-size: 10px;
	margin-bottom: 10px;
	max-width: 12ch;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	word-break: break-word;
	-webkit-line-clamp: 1;
}

.blur {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
