@charset 'UTF-8';

.req-mem-wrap {
	position: relative;
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	background: white;
	z-index: 61;
	padding: 1rem 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 2px rgba(90, 90, 90, 0.2);

	.exit-btn {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(120%);
		color: #333;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.2);
	}
}
