@charset 'UTF-8';
@import 'animation.scss';

.req-mem-wrap {
	position: relative;
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	background: white;
	z-index: 61;
	padding: 1rem 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 2px rgba(90, 90, 90, 0.2);

	p{
		font-size: 12px;
		color: #666;
		margin: 0;
	}

	.exit-btn {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(120%);
		color: #333;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.2);
	}

	.stack-container {
		width: 100%;
		padding: 1rem 1rem 1rem 0;

		.project-card-stack-block-wrap {
			-webkit-line-clamp: 2;
			padding-left: 0;
			border: none;
			position: relative;

			button {
				padding: 0;

				&.selected {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					animation: .3s moveStack 1 ease-in-out;

					.stack-block {
						padding: 4px 8px;
						font-size: 12px;
						margin: 0;
					}
				}
			}

			.stack-block {
				margin-right: 20px;
				height: fit-content;
				transition: .3s;

				&:focus, &:hover {
					padding: 4px 8px;
					font-size: 12px;
				}
			}
		}
	}
}

.ipt-line {
	display: flex;
}

.calendar-wrap {
	position: relative;

	.calendar {
		position: absolute;
		top: 100%;
		left: 0;
	}
}

#myProfile {
	width: fit-content;
	max-width: 1000px;
	min-width: 800px;
	margin: 1rem auto;
	padding: 2rem 4rem;
	background: #fff;
	box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
	position: relative;
	border-radius: 7px;

	&.otherProfile .profile-form {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 6fr;

		.profile-attr {
			&:nth-child(4){
				grid-column: 2;
			}
			&:nth-child(5){
				grid-column: 1/ span 2;
			}
		}
	}

	.main-info {
		display: flex;
		align-items: center;

		.profile-img {
			div {
				width: 10rem;
				height: 10rem;
				border-radius: 100%;
				position: relative;
				background-size: cover;
				button {
					position: absolute;
					top: 0;
					right: 0;
					color: white;
					background: #7990ff;
					border-radius: 100%;
					border: 2px solid #fff;
					padding: .5rem;
				}

				input[type="file"] {
					width: 1px;
					height: 1px;
					position: absolute;
					padding: 0;
					margin: -1px;
					overflow: hidden;
					clip: rect(0,0,0,0);
					border: 0;
				}
			}
		}
		.login-info {
			margin-left: 3rem;
			width: 100%;

			div {
				position: relative;
				transition: .3s;

				&[name="email"] {
					font-size: 12px;
					color: #7990ff;
					margin-left: 1rem;

					&::before {
						content: "@";
						position: absolute;
						font-size: 20px;
						left: 0;
						top: 50%;
						transform: translate(-105%, -50%);
					}
				}

				&[name="name"] {
					margin-top: -15px;
					font-weight: 700;
					font-size: 60px;
					color: #444;
				}

				&[name="change-pwd"]{
					width: 100%;
					padding: .5rem 0 .5rem 1rem;
					border-radius: 10px;
					background: #7990ff;
					color: #fff;
					text-align: center;
					font-size: 13px;
					cursor: pointer;

					svg {
						position: absolute;
						left: 10px;
						top: 50%;
						transform: translateY(-50%);
						width: 1rem;
						height: 1rem;
						transition: .3s;
					}

					&:hover {
						background: #6980ff;

						svg {
							width: 1.2rem;
							height: 1.2rem;
						}
					}
				}
			}
		}
	}

	.info-line {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 2rem 0;

		.line {
			height: 0;
			border-bottom: 1px solid #BBB;
			width: 100%;
			margin-left: 2rem;
		}

		h3 {
			color: #7990ff;
			font-size: 40px;
			font-weight: 700;
			margin-left: 1rem;
		}
	}

	.profile-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 2fr 6fr;
		width: 100%;

		.select-btn-wrap {
			padding: 0;
		}

		.profile-attr {
			width: 100%;
			min-width: 200px;
			padding: 1rem 1.5rem;

			.intro-box {
				box-shadow: 0px 0px 3px 1px #7990ff;
				border-radius: 7px;
				padding: 1rem;
			}

			.select-btn-wrap {
				padding: 0;
				border: none;
				box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.2);
				margin: 0;

				&.stack {
					z-index: 1;
				}

				&:hover, &.clicked {
					box-shadow: 0px 0px 3px 1px #7990ff;
				}

				.select-btn {
					padding: .5rem 2rem .5rem 1rem;
					font-size: 16px;
				}

				.data-list {
					width: 100%;
					.data-list-search input {
						padding: 0;
					}
				}
			}

			p.title {
				color: #7990ff;
				font-weight: 600;
				margin-bottom: .5rem;
			}

			&:nth-child(4) {
				grid-column: 1;
			}
			&:nth-child(6){
				grid-column: 1/ span 2;
			}

			input[type="text"] {
				width: 100%;
				border-radius: 7px;
				box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.2);
				padding: .5rem 1rem;
				transition: .3s;
				position: relative;

				&:focus, &:hover {
					box-shadow: 0px 0px 3px 1px #7990ff;
				}
			}

			div.notMyProfile {
				width: 100%;
				border-radius: 7px;
				box-shadow: 0px 0px 3px 1px #7990ff;
				padding: .5rem 1rem;
				transition: .3s;
				position: relative;
			}
		}
	}

	.profile-edit-btn {
		width: auto;
		padding: .5rem 0;
		border-radius: 10px;
		background: #7990ff;
		color: #fff;
		margin: 0 1.5rem;
		text-align: center;
		font-size: 13px;
		cursor: pointer;
		transition: .3s;

		&:hover {
			background: #6980ff;
		}
	}
}

.req-btn {
	height: 64px;
	padding: 20px;
	border-radius: 40px;
	position: relative;
	width: fit-content;
	transition: width 3s;
	display: flex;

	&.apply {
		background: #0080ff;
	}

	&.message {
		background: #9198e5;
	}

	.logo {
		z-index: 3;
		color: white;

		svg {
			z-index: 4;
		}
	}

	.req-btn-hover {
		width: 0px;
		height: 100%;
		overflow: hidden;
		background: inherit;
		transition: width .2s;
		background: none;
		color: white;
		font-weight: 500;
	}

	&:hover .req-btn-hover {
		width: 100px;
		animation: .5s unfold 1 ease-in-out;
		overflow: hidden;
	}
}


#create-wrap {
	display: flex;
	width: 700%;
	transition: all .3s ease 0s;
	height: 80vh;

	.one-page-component {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		.content-box {
			position: relative;
			padding: 2rem;
			border-radius: 10px;
			box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
			width: 60%;
			background: #FFF;
			justify-content: center;
			margin-top: 30px;

			h3.title {
				color: #7990ff;
				position: absolute;
				top: -3rem;
				left: 0;
			}
			p {
				color: #777;
				font-size: 14px;
				margin-bottom: 0.1rem;

				&:nth-child(n+2) {
					margin: 2rem 0 .1rem 0 ;
				}
			}
			button.proj-create-btn {
				display: inherit;
				padding: 1rem 0;
				margin: 1rem auto 0 auto;
				width: 40%;
				border-radius: 5px;
				background: #3090ff;
				color: white;
			}

			.selector {
				max-height: 60vh;

				&.overflowAuto {
					overflow: auto;
				}

				.select-btn-wrap {
					margin: 0;
					.data-list{
						width: 100%;

						.data-list-search {
							width: 100%;
						}
					}
				}

				input[name="title"] {
					color: #555;
					width: 100%;
					border-bottom: 3px solid #DDD;
					height: 60px;
					font-size: 30px;
				}

				.setting-box {
					display: flex;
					width: 100%;
					margin-top: 1rem;
					position: relative;

					.set-period {
						padding: 3rem 2rem;
						animation: .5s padeDown 1 ease-in-out;
					}

					.react-calendar {
						border: none;
					}

					.select-btn-wrap {
						margin: 0;
						width: 50%;
						height: fit-content;

						.data-list{
							width: 100%;

							.data-list-search {
								width: 100%;
							}
						}
					}

					.setting-person {
						width: 50%;
						margin-left: 1rem;
						min-height: 200px;
						overflow: auto;
						position: relative;

						.setting {
							display: flex;
							align-items: center;
							position: absolute;
							top: 0;
							animation: .3s padeDown 1 ease-in-out;
							z-index: 88;
							background: white;

							input[type="number"]{
								width: 30px;
								border-bottom: 1px solid #BBB;
							}
							button {
								position: relative;
							}
						}

						.setted-box {
							height: 150px;
							overflow: auto;

							.setted-stack {
								display: flex;

								svg {
									width: 1em;
									height: 1em;
								}
							}
						}

						.result {
							border-top: 1px solid #BBB;
							padding-top: 10px;
							height: 50px;
							text-align: right;
						}
					}
				}
			}

			button {
				svg {
					width: 5rem;
					height: 5rem;
					color: #888;

					&:hover {
						color: #7990ff;
					}
				}

				&.next {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(110%, -50%);
				}

				&.back {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-110%, -50%);
				}
			}
		}
	}
}
.period-box {
	animation: .5s padeDown 1 ease-in-out;

	.period-text {
		display: flex;
		align-items: center;

		p{
			margin: 0 !important;
		}

		h5 {
			color: #7990ff;
			font-weight: 500;
			font-size: 15px;
			margin: 0 10px 0 0;
			min-width: 40px;
		}
		span {
			font-size: 16px;
			color: #223;
		}
		input {
			max-width: 70px;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px rgba(121, 144, 255, 0.4);
			margin-right: .5rem;
			text-align: center;
		}

		svg {
			color: #7990ff;
		}

		&.period {
			margin-top: 1rem;
		}
	}
}

.highlight {
	animation: .5s bright 1 ease-in-out;
}


.warn {
	color: red !important;
}

#new-jewel-wrap {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.new-jewel-page {
		position: relative;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;
		animation: 1s pade-to-right 1 ease-in-out;

		&.visible {
			display: flex;
		}

		&:nth-child(n+2) {
			margin-top: 1rem;
		}
		&:nth-child(even) {
			animation: 1s pade-to-left 1 ease-in-out;
		}

		.new-jewel-content {
			width: 80%;
			border-radius: 7px;
			background: #fff;
			box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
			padding: 2rem;
			position: relative;
			min-width: 800px;

			h3.title {
				color: #7990ff;
				font-weight: 800;
				top: 0;
				left: -3rem;
				position: absolute;
			}

			p {
				color: #777;
				font-size: 14px;
				margin-bottom: 0.1rem;

				&:nth-child(n+3) {
					margin-top: 2rem;
				}
			}

			input[name="title"] {
				color: #555;
				width: 100%;
				border-bottom: 3px solid #DDD;
				height: 60px;
				font-size: 30px;
				transition: .5s;

				&:focus {
					border-bottom: 3px solid #7990ff;
				}
			}

			.select-btn-wrap {
				margin: 0;

				.data-list{
					width: 100%;
				}
			}

			.calendar-box {
				animation: .5s padeUp 1 ease-in-out;
				width: 50%;

				&:nth-child(n+2) {
					margin-left: 3rem;
				}
				.react-calendar {
					border: none;
					border-top: 2px solid #7990ff;
					margin-top: 1rem;
				}
			}

			.period-info-box {
				display: flex;
				width: 100%;
				margin-top: 1rem;
				animation: .5s padeUp 1 ease-in-out;

				div{
					width: 100%;

					span {
						font-size: 14px;
						color: #444;

						b {
							font-size: 16px;
							color: #4960ff;
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	button.next svg {
		width: 5rem;
		height: 5rem;
		color: #888;
		transition: .3s;

		&:hover {
			color: #7990ff;
		}
	}
}

.seperate-box {
	display: flex;
	width: 100%;
	// align-items: center;
	// justify-content: center;
	&.period {
		margin-top: 2rem;
	}
}

.react-calendar__tile--active {
	background: #7990ff;

	&:enabled:hover, &:enabled:focus {
		background: #7990ff;
	}
}

.react-calendar__tile--now {
	background: #fff;
	color: #000;
	position: relative;

	&::before {
		content: "오늘";
		position: absolute;
		color: #4950ff;
		top: 1px;
		left: 1px;
		font-size: 11px;
	}
}

.new-jewel-content.stack {
	.select-btn-wrap {
		width: 100%;
		border: none;

		.data-list {
			position: inherit;
		}
	}
}

.stack-block-box {
	display: flex;
	flex-wrap: wrap;
	min-height: 30px;
	padding: 1rem .5rem 0 .5rem;
	box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
	border-radius: 7px;

	.stack-block {
		animation: .5s padeUp 1 ease-in-out;
	}
}
