@charset 'UTF-8';
@import "animation.scss";

.req-mem-wrap {
	position: relative;
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	background: white;
	z-index: 61;
	padding: 1rem 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 2px rgba(90, 90, 90, 0.2);

	p {
		font-size: 12px;
		color: #666;
		margin: 0;
	}

	.exit-btn {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(120%);
		color: #333;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background: white;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.2);
	}

	.stack-container {
		width: 100%;
		padding: 1rem 1rem 1rem 0;

		.project-card-stack-block-wrap {
			-webkit-line-clamp: 2;
			padding-left: 0;
			border: none;
			position: relative;

			button {
				padding: 0;

				&.selected {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					animation: 0.3s moveStack 1 ease-in-out;

					.stack-block {
						padding: 4px 8px;
						font-size: 12px;
						margin: 0;
					}
				}
			}

			.stack-block {
				margin-right: 20px;
				height: fit-content;
				transition: 0.3s;

				&:focus,
				&:hover {
					padding: 4px 8px;
					font-size: 12px;
				}
			}
		}
	}
}

.ipt-line {
	display: flex;
}

.calendar-wrap {
	position: relative;

	.calendar {
		position: absolute;
		top: 100%;
		left: 0;
	}
}

.req-btn {
	height: 64px;
	padding: 20px;
	border-radius: 40px;
	position: relative;
	width: fit-content;
	transition: width 3s;
	display: flex;

	&.apply {
		background: #0080ff;
	}

	&.message {
		background: #9198e5;
	}

	.logo {
		z-index: 3;
		color: white;

		svg {
			z-index: 4;
		}
	}

	.req-btn-hover {
		width: 0px;
		height: 100%;
		overflow: hidden;
		background: inherit;
		transition: width 0.2s;
		background: none;
		color: white;
		font-weight: 500;
	}

	&:hover .req-btn-hover {
		width: 100px;
		animation: 0.5s unfold 1 ease-in-out;
		overflow: hidden;
	}
}

#project-create-header {
	left: 3rem;
	position: fixed;
	z-index: 1;
	margin-top: 100px;

	.project-create-header-box {
		position: relative;
		display: inline-flex;
	}

	.page-btn {
		font-size: 2rem;
		font-weight: 700;
		color: #999;
		margin-right: 2rem;
		transition: 0.3s;
		cursor: pointer;

		&.current,
		&:hover {
			color: #6980ff;
		}
	}

	.nav-indicator {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 4px;
		transition: 0.2s;
		border-radius: 5px;
		background: #6980ff;
	}
}
#write-project-page {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	overflow-x: hidden;
	padding: 0 50px 1rem 50px;
	position: relative;

	button.proj-create-btn {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		transform: translate(-50%, 0);
		padding: 1rem 0;
		width: 40%;
		border-radius: 27px;
		background: #7990ff;
		color: white;
		transition: 0.3s;

		&:hover {
			background: #6980ff;
		}
	}
}

button.slide-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
	padding-bottom: 4rem;

	&:hover svg {
		background: #ededed;
	}

	svg {
		border-radius: 100%;
		width: 5rem;
		height: 5rem;
		color: #888;

		&:hover {
			color: #7990ff;
		}
	}

	&.next {
		right: 50px;
	}

	&.back {
		left: 50px;
	}
}

.create-wrap {
	display: inline-flex;
	width: 100%;
	transition: all 0.3s ease 0s;
	height: 80vh;

	.one-page-component {
		position: absolute;
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 90%;
		margin-bottom: 4rem;
		transition: 0.3s;

		&.next {
			display: flex;
			animation: 0.5s pade-to-left 1 ease-in-out;
		}

		&.before {
			display: flex;
			animation: 0.5s pade-to-right 1 ease-in-out;
		}

		.proj-button-wrap {
			display: none !important;
		}

		&.editor .content-box {
			height: 100%;

			.selector {
				height: 100%;
			}
		}

		.content-box {
			position: relative;
			padding: 2rem;
			border-radius: 10px;
			box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
			width: 60%;
			background: #fff;
			justify-content: center;
			margin-top: 1rem;
			max-height: 100%;

			h3.title {
				color: #7990ff;
				position: absolute;
				top: -3rem;
				left: 0;
			}
			p {
				color: #777;
				font-size: 14px;
				margin-bottom: 0.1rem;

				&:nth-child(n + 2) {
					margin-top: 2rem;
				}
			}

			&.finish {
				box-shadow: none !important;
				width: 80%;
				background: transparent;
			}

			.selector {
				max-height: 80vh;
				#project-page-wrap {
					padding: 0;
					padding-top: 10px;
					margin: 0;
					width: 100%;
				}

				.select-btn-wrap {
					margin: 0;
					.data-list {
						width: 100%;

						.data-list-search {
							width: 100%;
						}
					}
				}

				input[name="title"] {
					color: #555;
					width: 100%;
					border-bottom: 3px solid #ddd;
					height: 60px;
					font-size: 30px;
					transition: 0.3s;

					&:focus {
						border-bottom: 3px solid #6980ff;
					}
				}

				.setting-box {
					display: flex;
					flex-flow: row wrap;
					width: 100%;
					margin-top: 1rem;
					position: relative;

					.set-period {
						width: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						animation: 0.5s padeDown 1 ease-in-out;
					}

					.react-calendar {
						border-top: 3px solid #7990ff;
						width: 50%;
					}

					.select-btn-wrap {
						margin: 0;
						width: 50%;
						height: fit-content;

						.data-list {
							width: 100%;

							.data-list-search {
								width: 100%;
							}
						}
					}

					.setting-person {
						width: 50%;
						margin-left: 1rem;
						min-height: 200px;
						overflow: auto;
						position: relative;

						.setting {
							display: flex;
							align-items: center;
							position: absolute;
							top: 0;
							animation: 0.3s padeDown 1 ease-in-out;
							z-index: 88;
							background: white;

							input[type="number"] {
								width: 30px;
								border-bottom: 1px solid #bbb;
							}
							button {
								position: relative;
							}
						}

						.setted-box {
							height: 150px;
							overflow: auto;

							.setted-stack {
								display: flex;

								svg {
									width: 1em;
									height: 1em;
								}
							}
						}

						.result {
							border-top: 1px solid #bbb;
							padding-top: 10px;
							height: 50px;
							text-align: right;
						}
					}
				}
			}
		}
	}
}
.period-box {
	animation: 0.5s padeDown 1 ease-in-out;

	.period-text {
		display: flex;
		align-items: center;

		p {
			margin: 0 !important;
		}

		h5 {
			color: #7990ff;
			font-weight: 500;
			font-size: 15px;
			margin: 0 10px 0 0;
			min-width: 40px;
		}
		span {
			font-size: 16px;
			color: #223;
		}
		input {
			max-width: 70px;
			border-radius: 5px;
			box-shadow: 0px 0px 2px 1px rgba(121, 144, 255, 0.4);
			margin-right: 0.5rem;
			text-align: center;
		}

		svg {
			color: #7990ff;
		}

		&.period {
			margin-top: 0.2rem;
		}
	}
}

.highlight {
	animation: 0.5s bright 1 ease-in-out;
}

.warn {
	color: red !important;
}

#new-jewel-wrap {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;

	.new-jewel-page {
		position: relative;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;
		animation: 1s pade-to-right 1 ease-in-out;

		&.visible {
			display: flex;
		}

		&:nth-child(n + 2) {
			margin-top: 1rem;
		}
		&:nth-child(even) {
			animation: 1s pade-to-left 1 ease-in-out;
		}

		.new-jewel-content {
			width: 80%;
			border-radius: 7px;
			background: #fff;
			padding: 2rem;
			position: relative;
			// min-width: 800px;

			.select-block-wrap p,
			.select-block {
				font-size: 14px !important;
			}

			.list-blocks input {
				padding: 0.3rem 0.6rem;
			}

			h3.title {
				color: #7990ff;
				font-weight: 800;
				top: 0;
				left: -3rem;
				position: absolute;
			}

			p {
				color: #777;
				font-size: 12px;
				margin-bottom: 0.1rem;

				&:nth-child(n + 3) {
					margin-top: 2rem;
				}
			}

			input[name="title"] {
				color: #555;
				width: 100%;
				border-bottom: 3px solid #ddd;
				height: 60px;
				font-size: 30px;
				transition: 0.5s;

				&:focus {
					border-bottom: 3px solid #7990ff;
				}
			}

			.select-btn-wrap {
				margin: 0;

				&.stack:hover {
					border: none;
				}

				.data-list {
					width: 100%;
				}
			}

			.calendar-box {
				animation: 0.5s padeUp 1 ease-in-out;
				width: 50%;

				&:nth-child(n + 2) {
					margin-left: 3rem;
				}
				.react-calendar {
					width: 100%;
					border: none;
					border-top: 2px solid #7990ff;
					margin-top: 1rem;
				}
			}

			.period-info-box {
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				margin-top: 1rem;
				animation: 0.5s padeUp 1 ease-in-out;

				div {
					width: 100%;

					span {
						font-size: 14px;
						color: #444;

						b {
							font-size: 16px;
							color: #4960ff;
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	button.next svg {
		width: 5rem;
		height: 5rem;
		color: #888;
		transition: 0.3s;

		&:hover {
			color: #7990ff;
		}
	}
}

.seperate-box {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	// align-items: center;
	// justify-content: center;
	&.period {
		margin-top: 2rem;
	}
}

.react-calendar__tile--active {
	background: #7990ff;

	&:enabled:hover,
	&:enabled:focus {
		background: #7990ff;
	}
}

.react-calendar__tile--now {
	background: #fff;
	color: #000;
	position: relative;

	&::before {
		content: "오늘";
		position: absolute;
		color: #4950ff;
		top: 1px;
		left: 1px;
		font-size: 11px;
	}
}

.new-jewel-content.stack {
	.select-btn-wrap {
		width: 100%;
		border: none;

		.data-list {
			position: inherit;
		}
	}
}

.stack-block-box {
	display: flex;
	flex-wrap: wrap;
	min-height: 30px;
	padding: 1rem 0.5rem 0 0.5rem;
	box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
	border-radius: 7px;

	.stack-block {
		cursor: pointer;
		animation: 0.5s padeUp 1 ease-in-out;
	}
}

.noSubProfile {
	width: 600px;
	z-index: 102;
	transition: 0.5s;

	h1 {
		width: 100%;
		text-align: center;
		margin: 0 0 1rem 0;
		//text-shadow: 0px 4px 4px rgba(121, 144, 255, 0.4);
		color: #6980ff;
	}

	.sP-ipt-container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;

		.sP-ipt-box {
			width: 100%;
			background: #fff;
			border-radius: 7px;
			box-shadow: 0px 0px 4px 1px rgba(90, 90, 90, 0.2);
			padding: 2rem;
			// display: flex;
			align-items: center;
			transition: 0.5s;
			animation: 0.8s appearAfterHideDown 1 ease-in-out;

			input[type="text"] {
				color: #555;
				width: 100%;
				border-bottom: 3px solid #ddd;
				height: 60px;
				font-size: 1.5rem;
				transition: 0.3s;

				&.focus {
					border-bottom: 3px solid #6980ff;
				}
			}

			.stack-wrap {
				height: 100%;
				width: 100%;
				overflow: auto;

				.stack-block-box {
					box-shadow: none;

					&.interest .stack-block {
						max-width: none;
						font-size: 14px;
						font-weight: 500;
						padding: 0.3rem 0.6rem;
					}
				}
			}
			.stack-block {
				cursor: pointer;
			}

			.select-btn-wrap {
				width: 100%;
				height: 100%;
				margin: 0;

				.data-list {
					width: 100%;
				}
			}

			&.hide {
				opacity: 0;
				visibility: hidden;
				animation: 0.4s hideDown 1 ease-in-out;
				position: absolute;
			}

			p {
				color: #777;
				font-size: 14px;
				margin-bottom: 0.1rem;
			}

			.flex-row.stack {
				height: 200px;

				.data-list {
					height: 100%;
					top: 0;
				}

				.select-btn-wrap {
					border: none;
				}
			}
		}

		.sP-btn {
			width: 100%;
			text-align: center;
			padding: 0.5rem;
			background: #7990ff;
			color: #fff;
			border-radius: 7px;
			cursor: pointer;
			transition: 0.3s;
			font-weight: 600;
			margin-top: 0.5rem;

			&:hover {
				background: #6980ff;
			}
		}
	}
}

.ab-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chip-wrap {
	width: 100%;
	border: 1px solid #dadada;
	border-radius: 7px;

	.chip-box {
		width: 100%;
		padding: 0.5rem;
	}

	.search-box {
		position: relative;
		width: 100%;
		padding: 0.5rem;
		border-bottom: 1px solid #dadada;

		svg {
			color: #444;
			position: absolute;
		}

		input {
			width: 100%;
			font-size: 14px;
			padding-left: 2rem;
			box-shadow: none !important;
		}
	}
}

.sP-ipt-container {
	.btn-box {
		display: flex;
		flex-flow: row wrap;

		.btn {
			width: 40%;
			padding: 1rem;
			cursor: pointer;
			background: #7990ff;
			color: #fff;
			border-radius: 3rem;

			&:nth-child(1) {
				margin-right: 2rem;
			}

			&:hover {
				background: #5970ff;
			}
		}
	}
	.profile-img {
		&.noSub {
			height: 10rem;
			margin-bottom: 1rem;
		}

		div.image {
			width: 10rem;
			height: 10rem;
			border-radius: 100%;
			position: relative;
			background-size: cover;
			margin: 1rem auto;

			button {
				position: absolute;
				top: 0;
				right: 0;
				color: white;
				background: #7990ff;
				border-radius: 100%;
				border: 2px solid #fff;
				padding: 0.5rem;
			}

			input[type="file"] {
				width: 1px;
				height: 1px;
				position: absolute;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	button.slide-btn {
		svg {
			width: 3rem;
			height: 3rem;
		}

		&.next {
			right: 20px;
		}

		&.back {
			left: 20px;
		}
	}

	.create-wrap .one-page-component .content-box {
		width: 70%;

		.selector .setting-box {
			.react-calendar {
				width: 100%;
			}
		}

		p {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 600px) {
	.noSubProfile {
		width: 300px;

		.btn-box .btn {
			width: 100%;

			&:nth-child(1) {
				margin: 0 0 1rem 0;
			}
		}
	}

	button.slide-btn {
		&.next {
			right: 5px;
		}

		&.back {
			left: 5px;
		}
	}

	.create-wrap .one-page-component .content-box {
		padding: 1rem;

		.selector .setting-box {
			.react-calendar {
				width: 100%;
				font-size: 12px;
			}
			.set-period {
				width: 100%;
				font-size: 12px;
				.period-box {
					margin-top: 1rem;
					width: 100%;

					.period-text {
						h5 {
							font-size: 12px;
						}
						span {
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.seperate-box.period {
		.calendar-box {
			width: 100% !important;

			&:nth-child(n + 2) {
				margin-left: 0 !important;
			}

			.react-calendar {
				font-size: 12px;
			}
		}
	}
}
