@charset "UTF-8";
@import 'animation.scss';

.jewel-search-page {
	display: flex;
	margin: 100px auto 0 auto;
	max-width: 1200px;

	.jewel-search-wrap {
		position: fixed;
		background: #fff;
		width: 250px;
		border-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
		padding: 1rem;
		height: fit-content;
		z-index: 1;

		.search-filter-box {
			border-radius: 7px;

			p {
				font-size: 12px;
				color: #666;
				margin-bottom: 0.5rem;
			}

			h3 {
				color: #777;
				font-size: 18px;
			}

			.filter-attr-box {
				// min-height: 150px;
				max-height: 300px;
				overflow: auto;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
				margin-bottom: 1rem;
				display: flex;
				flex-wrap: wrap;
				padding: 0.5rem 0.5rem 0.5rem 0;

				.filter-block {
					margin-left: 0.5rem !important;
				}
			}
		}
		.select-btn-wrap {
			margin: 0 0 1rem 0;
			box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 8px 0px;
			border: 1px solid #eee;
		}
	}
}

.jewel-card-wrap {
	margin: -1rem 0 2rem 250px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

	& > i {
		width: 15rem;
		height: 0;
		margin: 1rem;
	}
}

.card-box {
	position: relative;
	background: #fff;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
	width: 15rem;
	min-width: 200px;
	height: 22rem !important;
	margin: 1rem;
	overflow: hidden;
	color: #333;
	transition: 0.5s;
	cursor: pointer;

	&.MuiSkeleton-root:hover {
		transform: unset !important;
	}

	&:hover {
		transform: translateY(-8px);
		box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
		color: #334;
	}

	.jewel-card-content {
		position: relative;

		.jewel-card-text {
			padding: 4.5rem 1rem 1rem 1rem;
			text-align: center;

			h2 {
				font-size: 20px;
				word-break: keep-all;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			h6 {
				font-size: 12px;
				font-weight: 300;
				color: #6980ff;
			}
		}

		.profile-img {
			position: absolute;
			width: 6rem;
			height: 6rem;
			border-radius: 100%;
			top: 0;
			left: 50%;
			transform: translate(-50%, -70%);
		}
	}
}

.multi-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	position: relative;
	overflow: hidden;

	&.stack {
		margin-top: 1.5em;
		overflow: hidden;
		flex-flow: row wrap;
		height: 1.4rem;
	}

	&.profile {
		padding: 0 1rem;
		flex-flow: row wrap;
	}

	.jewel-card-stack {
		border-radius: 10px;
		color: #fff;
		font-size: 11px;
		background: linear-gradient(#7990ff, #9198e5);
		padding: 0.2rem 0.4rem;
		word-break: keep-all;

		&:nth-child(n + 2) {
			margin-left: 0.5rem;
		}
	}

	span {
		font-size: 13px;
		color: #666;
		position: relative;

		&:nth-child(n + 2) {
			margin-left: 10px;

			&::before {
				position: absolute;
				top: 50%;
				left: -5px;
				width: 1px;
				height: 1px;
				content: '';
				background: #999;
				border-radius: 1px;
			}
		}
	}
}

.back-img {
	height: 7rem;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

.jewel-detail-box {
	max-height: 90vh;
	min-width: 400px;
	overflow: auto;
	background: #fff;
	padding: 0.5rem;
	position: fixed;
	z-index: 101;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px;

	&.visible {
		opacity: 1;
		visibility: visible;
		animation: 0.5s padeUp2 1 ease-in-out;
	}
	&.hide {
		opacity: 0;
		visibility: hidden;
		animation: 0.5s hideDown2 1 ease-in-out;
	}
}

.jewel-detail {
	position: relative;
	margin: 0 auto;
	// min-width: 600px;
	max-width: 800px;
	width: 800px;
	text-align: center;

	p.head-p {
		font-size: 12px;
		color: #666;
		margin-bottom: 0;
	}

	.profile-box {
		position: relative;

		.profile-img {
			transform: translate(-50%, -80%);
			width: 10rem;
			height: 10rem;
			border-radius: 10rem;
			position: absolute;
			top: 0;
			left: 50%;
		}

		.user-name {
			font-size: 42px;
			color: #113;
			font-weight: 700;
			padding-top: 4rem;
			margin: 0;
		}
		.btn-container {
			display: flex;
			align-items: center;
			justify-content: center;

			.btn {
				padding: 0.5rem 1rem;
				font-size: 12px;
				width: 7rem;
				border-radius: 20px;
				text-align: center;
				color: #fff;
				background: #7990ff;

				&.profile {
					margin-right: 1rem;
				}
				&.remove {
					margin-left: 1rem;
				}
			}
		}
	}

	.row-sep-box {
		display: flex;
		margin: 0 auto;

		.one-side-box {
			width: 50%;
			margin: 0.5rem auto 0 auto;
			text-align: left;
			padding: 1rem 1rem 2rem 1rem;

			&:nth-child(1) {
				text-align: right;
				border-right: 1px solid #b9c0ff;
			}

			.stack-wrap {
				display: flex;
				flex-flow: row wrap;
				max-height: 150px;

				.jewel-card-stack {
					border-radius: 10px;
					color: #fff;
					font-size: 11px;
					padding: 0.2rem 0.4rem;
					width: fit-content;
					margin-top: 0.5rem;

					&:nth-child(n + 1) {
						margin-right: 0.5rem;
					}
				}
			}
		}

		.one-info {
			margin-bottom: 0.5rem;

			.info {
				font-weight: 700;
				color: #3467dd;
			}
		}
	}

	.profile-period {
		position: relative;
		height: 1px;
		border-top: 2px solid #99a0ff;
		width: 100px;
		margin: 0 auto;

		.period-node {
			color: #3467dd;
			font-size: 14px;
			font-weight: 500;
			position: absolute;
			top: 0;
			right: 110%;
			transform: translateY(-50%);
			width: fit-content;
			&.left {
				left: 110%;
			}
		}
	}

	.text-content {
		margin: 2rem auto;
		width: 90%;
		text-align: left;
	}

	.back-img {
		height: 10rem;
	}
}

.jewel-page-box {
	margin-top: 100px;
}

.jewel-page-box .jewel-detail-box {
	position: relative;
	z-index: 3 !important;
	max-width: 800px;
	margin: 0 auto 2rem auto;
	transform: none;
	top: unset;
	left: unset;

	.content-box .text-content {
		max-height: unset;
	}
}

@media screen and (max-width: 800px) {
	.jewel-search-page {
		flex-direction: column;

		.jewel-search-wrap {
			position: relative !important;
			margin: 0 auto;
			width: 32rem;
		}

		.jewel-card-wrap {
			margin: 0;
		}
	}
	.jewel-detail-box {
		width: 94%;
		.jewel-detail {
			margin: 0 auto;
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	.card-box {
		width: calc(50% - 2rem);
		margin: 0.5rem;
	}
}

@media screen and (max-width: 400px) {
	.jewel-search-page .jewel-detail {
		width: 300px;
	}
}
