* {
	border: none;
	background: none;
	outline: none;
	list-style: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button:focus {
	outline: none;
}

#wrapper{
	position: relative;
	height: 100vh;
}

#page-container {
	position: absolute;
	min-height: 100vh;
	width: 100%;
	top: 0;
	z-index: 1;
}

.page-inner-container {
	max-width: 800px;
	margin: 0 auto;
}

.page-wrap {
	margin-top: 70px;
}

#nav-header {
	position: fixed;
	box-shadow: 0 4px 10px -2px rgba(90, 90, 90, 0.1);
}

.menu-navigation {
	position: relative;
	display: flex;
	align-items: center;
	background: #fff;
	width: 100vw;
	height: 70px;
	margin: 0 auto;
	/* text-align: center; */
	box-sizing: border-box;
	padding: 10px;
}

.menu-navigation .nav-logo-btn {
	margin: 10px 30px 10px 0;
}

.menu-navigation .nav-profile-btn {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.chat-list .chat-room img,
.menu-navigation .nav-profile-btn img{
	border-radius: 100%;
	width: 40px;
	height: 40px;
}

.menu-navigation .nav-link-btn {
	width: 100px;
}

.menu-navigation .nav-link-btn a {
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 12px;
}

.chat-btn-container {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 40px;
	bottom: 40px;
	color: white;
	border-radius: 100%;
	background: linear-gradient(rgb(121, 144, 255), #9198e5);
	box-shadow: 0px 0px 8px 4px rgba(121, 144, 255, 0.3);
	z-index: 2;
}

#chat-wrap {
	position: fixed;
	width: 320px;
	bottom: 0;
	right: 0;
	max-height: 500px;
	border-radius: 10px 10px 0 0;
	transition: all .6s cubic-bezier(0.65, 0.05, 0.36, 1);
	z-index: 3;
	background: white;
}

.chat-header {
	position: relative;
	display: flex;
	color: white;
	background: linear-gradient(rgb(121, 144, 255), #9198e5);
	padding: 0 16px;
	height: 52px;
	align-items: center;
	justify-content: center;
}

.chat-header button {
	position: absolute;
	right: 10px;
	bottom: 0;
	transform: translateY(-50%);
	color: white;
}

.chat-list .chat-room{
	display: flex;
	padding: 20px 10px;
	border-bottom: 1px solid #EEE;
}

.chat-list .chat-room .chat-recent-message {
	margin-left: 20px;
	display: flex;
}

.chat-list .chat-room .chat-recent-message p {
	margin: auto 0;
	color: #666;
}
