@charset 'UTF-8';
@import 'animation.scss';

#project-page-wrap {
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 0 5rem;
	position: relative;

	p {
		color: #999;
		font-size: 13px;
		margin: 0;
	}

	.proj-descript {
		margin: 1.5rem 0;
		position: relative;
		padding: 1.5rem;
		background: #fff;
		border-radius: 27px;
	}

	.proj-head-info {
		width: 100%;
		padding: 2rem;
		position: relative;
		background: #fff;
		border-radius: 27px;

		.proj-head-title {
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			margin-bottom: 15px;

			h3 {
				position: inherit !important;
				color: #224 !important;
			}
		}

		.proj-info-container {
			display: table;
			width: 100%;
			padding: 0;
			border-spacing: 0;
			table-layout: fixed;
			letter-spacing: -1px;

			h6 {
				font-weight: 700;
				font-size: 14px;
			}

			section {
				display: table-cell;

				.info-box {
					max-width: 90%;
					margin-top: 0.5rem;
					position: relative;

					&.stack p {
						margin-bottom: 0;
					}

					p {
						color: #333;
						margin: 0;
						font-weight: 500;
						margin-bottom: 2rem;
						padding-top: 0.3rem;
					}

					.block-wrap {
						display: flex;
						flex-flow: row wrap;
						overflow: hidden;
						width: 100%;
						overflow: hidden;
						position: absolute;
						left: 0;
						top: 1.2rem;
						max-height: 1.8rem;
						border-radius: 5px;
						width: fit-content;

						&.period {
							align-items: center;
							p {
								margin: 0;

								span {
									font-weight: 600;
									color: #5970ff;
								}
							}
						}

						&.overDisplay {
							cursor: unset;
							&:hover {
								max-height: none;
								background: #fff;
								z-index: 2;
								box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
								padding: 0 0 0.3rem 0.3rem;
							}
						}
					}

					.block {
						font-size: 12px;
						padding: 0.1rem 0.5rem;
						color: #444;
						background: #eaeaea;
						border-radius: 3px;
						width: fit-content;
						position: relative;
						margin: 0.3rem 0.3rem 0 0;
					}

					&:nth-child(1) {
						margin-top: 0;
					}
				}
				p.total-num {
					margin-top: 0;
				}

				.project-card-stack-block-wrap {
					border: none;
					margin-top: 0.3rem;
					padding: 0;
					overflow: unset;

					.proj-stack-block {
						position: relative;
						overflow: unset;

						&:hover,
						&:focus {
							font-size: 20px;
							.proj-stack-person {
								display: block;
							}
						}

						.proj-stack-person {
							display: none;
							position: absolute;
							max-width: 70px;
							min-width: 50px;
							left: 50%;
							transform: translateX(-50%);
							background: rgba(60, 60, 60, 0.9);
							color: white;
							font-size: 13px;
							padding: 4px 8px;
							text-align: center;
							z-index: 99;

							&::before {
								content: '';
								display: block;
								position: absolute;
								top: -5px;
								right: 20px;
								width: 0;
								height: 0;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								border-bottom: 5px solid rgba(60, 60, 60, 0.9);
							}
						}
					}
				}
			}
		}
	}

	.proj-button-wrap {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
		top: 0;

		button {
			position: relative;
			font-size: 18px;
			font-weight: 500;
			border-radius: 4rem;
			transition: 0.3s;
			color: #555;
			background: #fff;
			width: 4rem;
			height: 4rem;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
			overflow: hidden;
			padding: 0;

			svg {
				position: absolute;
				top: 2rem;
				left: 2rem;
				transform: translate(-50%, -50%);
			}

			h3 {
				margin: 0;
				top: 5.5rem;
				position: absolute;
				font-size: 16px;
				width: 100%;
				transform: rotate(90deg);
				word-break: keep-all;
			}

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;
				height: 10rem;
			}

			&#apply {
				color: white;
				background: #779eff;
				margin-bottom: 1rem;

				&:hover {
					background: #668eff;
				}
			}
		}
	}
}

.info-block {
	font-size: 13px;
	line-height: 1.8;
	font-weight: 500;
	color: #7990ff;
	display: flex;

	.block-name {
		width: 60px;
		overflow: hidden;
		margin-right: 2rem;
		color: #666;
	}
}

.proj-search-page {
	max-width: 1000px;
	margin: 100px auto 0 auto;
	display: flex;

	&.jewel {
		max-width: 1000px;
		margin: 2rem auto 0 auto;
		display: block;
	}

	.proj-etc-wrap {
		width: 250px !important;
		margin-right: 2rem;
		position: relative;

		a {
			width: 100%;
			div {
				border-radius: 5px;
				color: white;
				padding: 0.5rem 1.5rem;
				text-align: center;
				margin-bottom: 1rem;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;

				&#create {
					background: #7990ff;
				}

				&#apply {
					background: #7990ff;
				}
			}
		}

		.etc-link {
			border: 1px solid #e4eaf2;
			box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			background: #fff;

			a {
				padding: 0.5rem 1.2rem;
				color: #444;
				&:nth-child(n + 2) {
					border-top: 1px solid #e4eaf2;
				}
			}
		}
	}

	.proj-search-wrap {
		width: -webkit-fill-available;
		min-width: 400px;

		.search-filter-box {
			box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
			border-radius: 5px;
			padding: 0.5rem 1rem;
			background: #fff;

			h3 {
				font-size: 16px;
				color: #777;
			}

			.choice-filter-box {
				display: flex;
			}

			.filter-attr-box {
				border: 1px solid #e4eaf2;
				border-radius: 5px;
				padding: 0.5rem 1rem;
				margin-top: 1rem;

				p {
					font-size: 12px;
					color: #666;
					margin-bottom: 5px;
				}
			}
		}

		.proj-result-box {
			margin-top: 2rem;

			.proj-result-header {
				border-bottom: 1px solid #e4eaf2;
				padding: 0.5rem 1.5rem;
				position: relative;
				border-radius: 5px;
				background: #fff;
				box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
				border-radius: 5px;
				margin-bottom: 1rem;

				p.search-result {
					color: #666;
					font-size: 14px;
					margin: 0;
				}

				.search-sort-btn-container {
					position: absolute;
					top: 50%;
					right: 5px;
					transform: translateY(-50%);
					display: flex;

					div {
						cursor: pointer;
						color: #666;
						font-size: 13px;
						padding-bottom: -2px;
						transition: 0.3s;
						margin-right: 1rem;
						&:hover {
							color: #7990ff;
						}
					}
				}
			}

			.proj-results {
				width: 100%;
				position: relative;

				.searched-project {
					width: 100%;
					background: #fff;
					box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
					border-radius: 5px;
					margin-bottom: 1rem;
					display: flex;
					height: 150px;
					position: relative;
					overflow: hidden;
					transition: 0.3s;
					cursor: pointer;

					&:hover {
						transform: translateY(-5px);
						box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
					}

					.thumbnail {
						width: 20%;
						position: relative;
						height: 100%;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.content {
						padding: 0.7rem 1rem;

						p {
							color: #666;
							font-size: 12px;
							font-weight: 400;
							margin: 0;
						}

						.header {
							font-weight: 700;
							font-size: 18px;
							color: #5a70dd;
						}

						.stack-box {
							margin-top: 1rem;
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							-webkit-line-clamp: 1;
							overflow: hidden;
							height: 40px;
							align-items: center;
							padding-left: 1rem;
							border-left: 3px solid #7990ff;
						}
					}
				}
			}
		}
	}
}

.filter-block-box {
	display: flex;
	flex-wrap: wrap;
	min-height: 34px;

	.filter-block {
		border-radius: 5px;
		padding: 0.3rem 0.5rem;
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		color: white;
		background: linear-gradient(to bottom right, #7990ff, #9198e5);
		cursor: pointer;
		margin-bottom: 5px;
		animation: 0.5s padeUp 1 ease-in-out;
		height: fit-content;
		margin-right: 0.5rem;

		&.theme::before {
			content: '목적: ';
		}
		&.result::before {
			content: '결과물: ';
		}
		&.region::before {
			content: '지역: ';
		}
		&.stack::before {
			content: '스택: ';
		}
	}
}

@media screen and (max-width: 800px) {
	#project-page-wrap {
		padding: 0;
		width: 100vw;

		.proj-head-info {
			width: unset;
		}

		.proj-button-wrap {
			position: relative;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-top: 1rem;

			button {
				&:hover {
					box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;
					width: 10rem;
					height: 4rem;
				}
				&#apply {
					margin: 0 1rem 0 0;
				}
				&#message:hover {
					width: 11rem;
				}

				h3 {
					margin: 0;
					width: fit-content;
					top: 50%;
					transform: translateY(-50%);
					left: 4.5rem;
					position: absolute;
					font-size: 16px;
				}
			}
		}
	}

	.proj-search-wrap {
		min-width: unset !important;
		width: 90% !important;
		margin: 0 auto;

		.search-filter-box {
			.choice-filter-box {
				flex-direction: column;
			}

			.select-btn-wrap {
				margin: 1rem 0 0 0;
			}
		}
	}

	#project-page-wrap {
		.proj-head-info .proj-info-container section {
			display: block;
		}
	}
}
